<%= title "Login" %>

<%= bootstrap_form_with(url: sessions_path, method: :post) do |f| %>
    <p> <%= f.text_field :name %> </p>
    <%= f.password_field :password %>
    <%= f.primary "Login" %> 
<% end %>
